<!DOCTYPE html> 
             <html lang="en"> 
            <head> 
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
     <title>Document</title> 
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
            </link>
    </head> 
     <body> 
        <div class="container">

<h5 class="text-success">Hello username</h5> 
     <p >  </p> 
    <p >Thank you for  creating account. <br>Please verify your account To login . <br>To verify account click the button below . <br>This Verification Link will expire in 24 hours </p> 
     
    <a   class="btn btn-primary" href="http://localhost:5173/verify?token">Verify Email</a> 
       <p>If verification button doesnot work paste this URL in Browser<br>Link</p> 
    <p>regards,<br>Team CodeCrafters</p>
    <div>   © 2026 User Management System
</div>
</div>
      
    </body> 
    </html>